{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
            <div class="book col-md-4">
              {% for book in books %}
                <b>
                    <h2><li><font color="#006600">{{ book.name }} </font></li></h2>
                     <p>Автор: {{ book.author }}</p>
                     <p>Дата публикации: {{ book.pub_date }}</p>
                     <br>
                </b>
              {% endfor %}
            </div>
                 <h1><a href="/books/{{previous}}"> {{ previous }} </a>
                 <a href="/books/{{next}}">{{ next }} </a></h1>
        </div>
    </div>
{% endblock %}




